<div class="__main_container_class__" id='__main_container_id__'>
    <div class="__thumbnails_container_new_entry_counter__"></div>
    <div class="__thumbnails_container_class__">
        <div class="__thumbnails_container_inner_class__" >
            <!--displays the thumbnail datas-->
            <bx_if:hasThumbnailDatas>
                    <bx_repeat:thumbnail_datas>__container__</bx_repeat:thumbnail_datas>
            </bx_if:hasThumbnailDatas>
            <!--displays an empty container-->
            <bx_if:noThumbnailDatas>
                <div class="__empty_container_class__"> __empty_container__ </div>
            </bx_if:noThumbnailDatas>
        </div>
    </div>
    <!--displays the go to page link-->
    <div __goto_page_hidden__ class="__thumbnails_container_go_to_page__"><a href='__goto_page_uri__'>__goto_page_caption__</a></div>
</div>
<script type="text/javascript" charset="utf-8"> __script__ </script>
