<div class='__thumbnail_container_class__' id='__entry_dom_id__'  entry_id='__id__'>
    <div class='__thumbnail_container_inner_class__'>
        <div class="__thumbnail_inner_container_class__">
            <div class="__thumb_container_class__">
                <a href="__module_uri__">
                    <img src='__spacer__' style='background-image: url("__thumbnail_image__"); width:__thumbnail_width__px;' width='__thumbnail_width__px;' height='__thumbnail_height__px;' />
                </a>
            </div>
        </div> 
        <div class="__information_container_contents__">
            <div class="emmetbytes_bon_con_in_realtime_information_container_content">
                <div class="emmetbytes_bon_con_in_realtime_information_caption_container">__title_caption__ : </div>
                <div class="emmetbytes_bon_con_in_realtime_information_content_container"><a href='__module_uri__'>__title__</a></div>
            </div>
            <bx_if:display_site_url>
                <div class="emmetbytes_bon_con_in_realtime_information_container_content">
                    <div class="emmetbytes_bon_con_in_realtime_information_caption_container">__url_caption__ : </div>
                    <div class="emmetbytes_bon_con_in_realtime_information_content_container"><a href='__site_url__' target='_blank'>__url_content__</a></div>
                </div>
            </bx_if:display_site_url>
            <bx_if:display_author>
                <div class="emmetbytes_bon_con_in_realtime_information_container_content">
                    <div class="emmetbytes_bon_con_in_realtime_information_caption_container">__author_caption__ : </div>
                    <div class="emmetbytes_bon_con_in_realtime_information_content_container"><a href='__author_uri__'>__author_username__</a></div>
                </div>
            </bx_if:display_author>
            <bx_if:display_date>
                <div class="emmetbytes_bon_con_in_realtime_information_container_content">
                    <div class="emmetbytes_bon_con_in_realtime_information_caption_container">__date_caption__ : </div>
                    <div class="emmetbytes_bon_con_in_realtime_information_content_container">__date_formatted__ ( __date_ago__ )</div>
                </div>
            </bx_if:display_date>
            <bx_if:display_location>
                <div class="emmetbytes_bon_con_in_realtime_information_container_content">
                    <div class="emmetbytes_bon_con_in_realtime_information_caption_container">__location_caption__ : </div>
                    <div class="emmetbytes_bon_con_in_realtime_information_content_container">__location__</div>
                </div>
            </bx_if:display_location>
            <bx_if:display_fans>
                <div class="emmetbytes_bon_con_in_realtime_information_container_content">
                    <div class="emmetbytes_bon_con_in_realtime_information_caption_container">__fans_caption__ : </div>
                    <div class="emmetbytes_bon_con_in_realtime_information_content_container __information_fans_container__">__fans__</div>
                </div>
            </bx_if:display_fans>
            <bx_if:display_rate>
                <div class="emmetbytes_bon_con_in_realtime_information_container_content">
                    <div class="emmetbytes_bon_con_in_realtime_information_caption_container">__rate_caption__ : </div>
                    <div class="emmetbytes_bon_con_in_realtime_information_content_container">__rate__</div>
                </div>
            </bx_if:display_rate>
            <bx_if:display_size>
                <div class="emmetbytes_bon_con_in_realtime_information_container_content">
                    <div class="emmetbytes_bon_con_in_realtime_information_caption_container">__size_caption__ : </div>
                    <div class="emmetbytes_bon_con_in_realtime_information_content_container">__size__</div>
                </div>
            </bx_if:display_size>
            <bx_if:display_length>
                <div class="emmetbytes_bon_con_in_realtime_information_container_content">
                    <div class="emmetbytes_bon_con_in_realtime_information_caption_container">__length_caption__ : </div>
                    <div class="emmetbytes_bon_con_in_realtime_information_content_container">__length__</div>
                </div>
            </bx_if:display_length>
            <bx_if:display_view>
                <div class="emmetbytes_bon_con_in_realtime_information_container_content">
                    <div class="emmetbytes_bon_con_in_realtime_information_caption_container">__view_caption__ : </div>
                    <div class="emmetbytes_bon_con_in_realtime_information_content_container">__view__</div>
                </div>
            </bx_if:display_view>
            <bx_if:display_categories>
                <div class="emmetbytes_bon_con_in_realtime_information_container_content">
                    <div class="emmetbytes_bon_con_in_realtime_information_caption_container">__categories_caption__ : </div>
                    <div class="emmetbytes_bon_con_in_realtime_information_content_container">__categories__</div>
                </div>
            </bx_if:display_categories>
            <bx_if:display_tags>
                <div class="emmetbytes_bon_con_in_realtime_information_container_content">
                    <div class="emmetbytes_bon_con_in_realtime_information_caption_container">__tags_caption__ : </div>
                    <div class="emmetbytes_bon_con_in_realtime_information_content_container">__tags__</div>
                </div>
            </bx_if:display_tags>
            <bx_if:display_comments_count>
                <div class="emmetbytes_bon_con_in_realtime_information_container_content">
                    <div class="emmetbytes_bon_con_in_realtime_information_caption_container">__comments_count_caption__ : </div>
                    <div class="emmetbytes_bon_con_in_realtime_information_content_container">__comments_count__</div>
                </div>
            </bx_if:display_comments_count>
            <bx_if:display_description>
                <div class="emmetbytes_bon_con_in_realtime_information_container_content">
                    <div class="emmetbytes_bon_con_in_realtime_information_caption_container">__description_caption__ : </div>
                    <div class="emmetbytes_bon_con_in_realtime_information_content_container">__description__</div>
                </div>
            </bx_if:display_description>
            <bx_if:display_contents>
                <div class="emmetbytes_bon_con_in_realtime_information_container_content">
                    <div class="emmetbytes_bon_con_in_realtime_information_caption_container">__contents_caption__ : </div>
                    <div class="emmetbytes_bon_con_in_realtime_information_content_container">__contents__</div>
                </div>
            </bx_if:display_contents>
        </div>
    </div>
</div>
