if(_ebBonConInRealtime___block_id__){
    clearInterval(_ebBonConInRealtime___block_id__.newEntriesChecker);
}
var _ebBonConInRealtime__block_id__Params = {
    'getNewEntriesUrl' : '__get_new_entries_url__',
    'mainContainerId' : '__main_container_id__',
    'newEntriesContainerClass' : '__thumbnails_container_new_entry_counter__',
    'thumbnailsContainerClass' : '__thumbnails_container_class__',
    'thumbnailsContainerInnerClass' : '__thumbnails_container_inner_class__',
    'thumbnailContainerClass' : '__thumbnail_container_class__',
    'thumbnailGoToPageClass' : '__thumbnails_container_go_to_page__',
    'privateContainerContent' : '__private_container__',
    'emptyContainerContent' : '__empty_container__',
    'emptyContainerClass' : '__empty_container_class__',
    'blockId' : '__block_id__',
    'displayShowNewButton' : '__display_show_new_button_value__',
    'newEntriesCaption' : '__new_entries_caption__',
    'removedEntriesCaption' : '__removed_entries_caption__',
    'moduleVars' : __module_vars__,
    'searchResults' : __search_results__
}

var _ebBonConInRealtime___block_id__ = new EmmetBytesBonConInRealtime(_ebBonConInRealtime__block_id__Params);
