<div class='__thumbnail_container_class__' id='__entry_dom_id__' entry_id='__id__'>
    <div class='__thumbnail_container_inner_class__'>
        <div class="__thumbnail_inner_container_class__">
            <div class='__thumb_container_class__'>
                <img src='__spacer__' width='__thumbnail_width__px;' style='background-image: url("__thumbnail_image__")' height='__thumbnail_height__px;' />
            </div>
        </div> 
        <div class="__information_container_contents__">
            <span class='__information_restricted_container__'>__caption__</span>
        </div>
    </div>
</div>
