<li class="__class__">
    <form action="__form_action__" target='upload_background' method='post' id='ebytes_profile_cvr_upload_background_form' enctype='multipart/form-data'>
        <div class='ebytes_profile_cvr_upload_background_button'>
            <span class="ebytes_profile_cvr_upload_background_icon"></span>
            <input type='file' name='background_image' class='eb_profile_cvr_background_image' /> __caption__ 
        </div>
    </form>
    <iframe id='upload_background' name='upload_background' frameborder="0"></iframe>
</li>
