<div class="ebytes_profile_cvr_info_inner_container">
    <div class="ebytes_profile_cvr_informations_container">
        <bx_if:display_nickname>__nickname__</bx_if:display_nickname>
        <bx_if:display_headline> __headline_container__ </bx_if:display_headline>
        <bx_if:display_location>__location_container__</bx_if:display_location>
        <bx_if:display_insert_location>
            <div class="ebytes_profile_cvr_insert_location_container" id="ebytes_profile_cvr_insert_location_container">
                <a href="javascript:void(0)">__add_your_add_location_caption__</a><span class="ebytes_profile_cvr_informations_loader"></span>
            </div>
        </bx_if:display_insert_location>
        <bx_if:display_birthdate> __birthdate_container__ </bx_if:display_birthdate>
        <bx_if:display_insert_birthdate>
            <div class="ebytes_profile_cvr_insert_birthdate_container" id="ebytes_profile_cvr_insert_birthdate_container">
                <a href="javascript:void(0)">__add_your_add_birthdate_caption__</a><span class="ebytes_profile_cvr_informations_loader"></span>
            </div>
        </bx_if:display_insert_birthdate>
        <bx_if:display_gender> __gender_container__ </bx_if:display_gender>
        <bx_if:display_insert_gender>
            <div class="ebytes_profile_cvr_insert_gender_container" id="ebytes_profile_cvr_insert_gender_container">
                <a href="javascript:void(0)">__add_your_add_gender_caption__</a><span class="ebytes_profile_cvr_informations_loader"></span>
            </div>
        </bx_if:display_insert_gender>
        <bx_if:display_relationship> __relationship_container__ </bx_if:display_relationship>
        <bx_if:display_insert_relationship>
            <div class="ebytes_profile_cvr_insert_relationship_container" id="ebytes_profile_cvr_insert_relationship_container">
                <a href="javascript:void(0)">__add_your_add_relationship_caption__</a><span class="ebytes_profile_cvr_informations_loader"></span>
            </div>
        </bx_if:display_insert_relationship>
    </div>
</div>
<div class='ebytes_profile_cvr_info_link_container ebytes_profile_cvr_bottom_data_link_container'><a href='__about_link__'>__about_caption__</a></div>
