<div class='ebytes_profile_cvr_popup_form_container'>
    <form action='__form_action__' onsubmit="return submitInformationPopupDatas(this, '__container_id__')">
        <div class="ebytes_profile_cvr_popup_form_errors_container"></div>
        __inputs_container__
        <div class='ebytes_profile_cvr_popup_submit_container'>
            <span class='ebytes_profile_cvr_popup_close_button_container'> <input onclick='closeInformationPopup(this)' class='ebytes_profile_cvr_popup_close_button' type='button' value='__close_caption__' /> </span>
            <div class='ebytes_profile_cvr_popup_submit_button_container'><input class='ebytes_profile_cvr_popup_submit_button' name='submit_data' type='submit' value='__submit_caption__' /></div>
        </div>
    </form>
</div>
