<div class="ebytes_profile_cvr_member_activities_container">
    <bx_if:display_member_friends>
        __member_friends__
    </bx_if:display_member_friends>
    <bx_if:display_member_photo_albums>
        __member_photo_albums__
    </bx_if:display_member_photo_albums>
    <bx_if:display_member_video_albums>
        __member_video_albums__
    </bx_if:display_member_video_albums>
    <bx_if:display_member_sound_albums>
        __member_sound_albums__
    </bx_if:display_member_sound_albums>
    <bx_if:display_member_file_folders>
        __member_file_folders__
    </bx_if:display_member_file_folders>
    <bx_if:display_member_ads>
        __member_ads__
    </bx_if:display_member_ads>
    <bx_if:display_member_blog>
        __member_blogs__
    </bx_if:display_member_blog>
    <bx_if:display_member_poll>
        __member_polls__
    </bx_if:display_member_poll>
    <bx_if:display_member_site>
        __member_sites__
    </bx_if:display_member_site>
    <bx_if:display_member_event>
        __member_events__
    </bx_if:display_member_event>
    <bx_if:display_member_store>
        __member_stores__
    </bx_if:display_member_store>
    <bx_if:display_member_groups>
        __member_groups__
    </bx_if:display_member_groups>
    <bx_repeat:empty_containers>
        __container__
    </bx_repeat:empty_containers>
</div>
