<div class='__slider_container_main_class__'>
    <div class="__slider_container_class__">
        <div class='__slider_container_inner_class__'>
            <div class="__slider_inner_container_class__">
                <div class="__slider_image_container_class__">
                    <img src='__spacer__' style='background-image: url("__slider_photo__");' width='140px;' height='140px;' />
                </div>
            </div> 
        </div>
        <div class="__slider_informations_container__">
            <div class="__slider_title_container__">
                <a href="__entry_uri__">__title__</a>
            </div>
            <div class="__slider_datas_container__">
                <bx_if:display_author>
                    <div class="emmetbytes_boonex_contents_slider_common_slider_author_container emmetbytes_boonex_contents_slider_common_slider_data_container">__from_text__ <a href="__author_link__">__author__</a></div>
                </bx_if:display_author>
                <bx_if:display_created_date>
                    <div class="emmetbytes_boonex_contents_sliders_common_slider_created_date_container emmetbytes_boonex_contents_slider_common_slider_data_container">( __created_date__ )</div>
                </bx_if:display_created_date>
                <bx_if:display_date_start>
                    <div class="emmetbytes_boonex_contents_sliders_common_slider_start_date_container emmetbytes_boonex_contents_slider_common_slider_data_container">( __start_date__ )</div>
                </bx_if:display_date_start>
            </div>
            <div class="__slider_additional_datas_container__">
                <bx_if:display_ads_price>
                    <div class="emmetbytes_boonex_contents_slider_common_slider_ads_price_container emmetbytes_boonex_contents_slider_common_slider_additional_data_container">__ads_price__ __ads_field_2__</div>
                </bx_if:display_ads_price>
                <bx_if:display_views>
                    <div class="emmetbytes_boonex_contents_slider_common_slider_views_container emmetbytes_boonex_contents_slider_common_slider_additional_data_container">__views__</div>
                </bx_if:display_views>
                <bx_if:display_size_separator>
                    <div class="emmetbytes_boonex_contents_slider_common_slider_additional_data_separator">.</div>
                </bx_if:display_size_separator>
                <bx_if:display_size>
                    <div class="emmetbytes_boonex_contents_slider_common_slider_size_container emmetbytes_boonex_contents_slider_common_slider_additional_data_container">__size__</div>
                </bx_if:display_size>
                <bx_if:display_comments_count>
                    <div class="emmetbytes_boonex_contents_slider_common_slider_comments_count_container emmetbytes_boonex_contents_slider_common_slider_additional_data_container">__comments_count__</div>
                </bx_if:display_comments_count>
                <bx_if:display_location>
                    <div class="emmetbytes_boonex_contents_slider_common_slider_location_container emmetbytes_boonex_contents_slider_common_slider_additional_data_container">__location__</div>
                </bx_if:display_location>
                <bx_if:display_fans_separator>
                    <div class="emmetbytes_boonex_contents_slider_common_slider_additional_data_separator">.</div>
                </bx_if:display_fans_separator>
                <bx_if:display_fans_count>
                    <div class="emmetbytes_boonex_contents_slider_common_slider_fans_count_container emmetbytes_boonex_contents_slider_common_slider_additional_data_container">__fans_count__</div>
                </bx_if:display_fans_count>
                <bx_if:display_rate_separator>
                    <div class="emmetbytes_boonex_contents_slider_common_slider_additional_data_separator">.</div>
                </bx_if:display_rate_separator>
                <bx_if:display_rate>
                    <div class="emmetbytes_boonex_contents_slider_common_slider_rating_container emmetbytes_boonex_contents_slider_common_slider_additional_data_container">__rate__</div>
                </bx_if:display_rate>
            </div>
            <div class="__slider_additional_first_datas_container__">
                <bx_if:display_categories>
                    <div class="emmetbytes_boonex_contents_slider_common_slider_categories_container">__categories_caption__ : __categories__</div>
                </bx_if:display_categories>
                <bx_if:display_tags>
                    <div class="emmetbytes_boonex_contents_slider_common_slider_tags_container">__tags_caption__ : __tags__</div>
                </bx_if:display_tags>
            </div>
            <div class="__slider_description_container__">
                <bx_if:display_sites_url>
                    <a href="__sites_url_link__" target='_BLANK'>__sites_url__</a>  
                </bx_if:display_sites_url>
                <bx_if:display_description>
                    __description__
                </bx_if:display_description>
            </div>
        </div>
    </div>
</div>
