if(_ebBoonexContentsSlider___block_id__){ clearInterval(_ebBoonexContentsSlider___block_id__.autoGetNextEntries); }
var _ebBoonexContentsSlider__block_id__Params = {
    'mainContainerClass' : '__main_container_class__',
    'mainContainerId' : '__main_container_id__',
    'loaderContainerClass' : '__loader_container_class__',
    'slidersContainerClass' : '__sliders_container_class__',
    'slidersNavContainer' : '__sliders_nav_container__',
    'mainContainerNavigationClass' : '__main_container_navigation_class__',
    'slidersNavInnerContainers' : '__sliders_nav_inner_containers__',
    'slidersNavCountersContainer' : '__sliders_nav_counters_container__',
    'slidersNavCounterContainer' : '__sliders_nav_counter_container__',
    'slidersNavCounterContainerActive'  : '__sliders_nav_counter_container_active__',
    'slidersNavContainerPrev' : '__sliders_nav_container_prev__',
    'slidersNavContainerNext' : '__sliders_nav_container_next__',
    'slidersContainerInnerClass' : '__sliders_container_inner_class__',
    'sliderContainerMainClass' : '__slider_container_main_class__',
    'sliderContainerClass' : '__slider_container_class__',
    'sliderContainerInnerClass' : '__slider_container_inner_class__',
    'sliderInnerContainerClass' : '__slider_inner_container_class__',
    'sliderInformationsContainer' : '__slider_informations_container__',
    'sliderTitleContainer' : '__slider_title_container__',
    'sliderAdditionalDatasContainer' : '__slider_additional_datas_container__',
    'sliderAdditionalDataContainer' : '__slider_additional_data_container__',
    'sliderAdditionalDataSeparator' : '__slider_additional_data_separator__',
    'sliderLocationContainer' : '__slider_location_container__',
    'sliderFansCountContainer' : '__slider_fans_count_container__',
    'sliderRatingContainer' : '__slider_rating_container__',
    'sliderAuthorContainer' : '__slider_author_container__'
}
var _ebBoonexContentsSlider___block_id__ = new EmmetBytesBoonexContentsSlider(_ebBoonexContentsSlider__block_id__Params);
