<div class="__main_container_class__" id='__main_container_id__'>
    <div class="__info_container_class__"> __info_container__ </div>
    <div class="__thumbnails_container_class__">
        <div class="__thumbnails_nav_container__ __thumbnails_nav_container_prev__"></div>
        <div class="__thumbnails_nav_container__ __thumbnails_nav_container_next__"></div>
        <div class="__thumbnails_container_inner_class__" >
            <bx_repeat:thumbnail_datas>__container__</bx_repeat:thumbnail_datas>
        </div>
    </div>
    <div class="__loader_container_class__"><div class="emmetbytes_bon_con_special_info_loader_background"></div></div>
</div>
<script type="text/javascript" charset="utf-8"> __script__ </script>
