if(_ebBonConSpecialInfo___block_id__){ clearInterval(_ebBonConSpecialInfo___block_id__.autoGetNextEntries); }
var _ebBonConSpecialInfo__block_id__Params = {
    'getEntriesUrl' : '__get_entries_url__',
    'getInfoContainerUrl' : '__get_info_container_url__',
    'loaderContainerClass' : '__loader_container_class__',
    'mainContainerId' : '__main_container_id__',
    'infoContainerClass' : '__info_container_class__',
    'thumbnailsContainerClass' : '__thumbnails_container_class__',
    'thumbnailsContainerNavPrevClass' : '__thumbnails_nav_container_prev__',
    'thumbnailsContainerNavNextClass' : '__thumbnails_nav_container_next__',
    'thumbnailsContainerInnerClass' : '__thumbnails_container_inner_class__',
    'thumbnailContainerClass' : '__thumbnail_container_class__',
    'moduleVars' : __module_vars__
}
var _ebBonConSpecialInfo___block_id__ = new EBBonConSpecialInfo(_ebBonConSpecialInfo__block_id__Params);
