<div class="ebytes_club_cover_info_inner_container" id="ebytes_club_cover_info_inner_container">
    <div class="ebytes_club_cover_informations_container">
        <!-- for the business website -->
        <bx_if:display_business_website>
            __business_website_container__
        </bx_if:display_business_website>

        <bx_if:display_insert_business_website>
            <div id='ebytes_club_cover_insert_business_website_container' class='ebytes_club_cover_insert_information_container ebytes_club_cover_insert_business_website_container'>
                <a href='javascript:void(0)'>__insert_business_website__</a>
            </div>
        </bx_if:display_insert_business_website>

        <!-- insert the business email -->
        <bx_if:display_business_email>
            __business_email_container__
        </bx_if:display_business_email>
        <bx_if:display_insert_business_email>
            <div id='ebytes_club_cover_insert_business_email_container' class='ebytes_club_cover_insert_information_container ebytes_club_cover_insert_business_email_container'>
                <a href='javascript:void(0)'>__insert_business_email__</a>
            </div>
        </bx_if:display_insert_business_email>

        <!-- insert the business telephone -->
        <bx_if:display_business_telephone>
            __business_telephone_container__
        </bx_if:display_business_telephone>
        <bx_if:display_insert_business_telephone>
            <div id='ebytes_club_cover_insert_business_telephone_container' class='ebytes_club_cover_insert_information_container ebytes_club_cover_insert_business_telephone_container'>
                <a href='javascript:void(0)'>__insert_business_telephone__</a>
            </div>
        </bx_if:display_insert_business_telephone>

        <!-- insert the business fax -->
        <bx_if:display_business_fax>
            __business_fax_container__
        </bx_if:display_business_fax>
        <bx_if:display_insert_business_fax>
            <div id='ebytes_club_cover_insert_business_fax_container' class='ebytes_club_cover_insert_information_container ebytes_club_cover_insert_business_fax_container'>
                <a href='javascript:void(0)'>__insert_business_fax__</a>
            </div>
        </bx_if:display_insert_business_fax>
        <div class="club_information_separator"></div>

        <!-- insert the club capacity-->
        <bx_if:display_club_capacity>
            __club_capacity_container__
        </bx_if:display_club_capacity>
        <bx_if:display_insert_club_capacity>
            <div id='ebytes_club_cover_insert_club_capacity_container' class='ebytes_club_cover_insert_information_container ebytes_club_cover_insert_club_capacity_container'>
                <a href='javascript:void(0)'>__insert_club_capacity__</a>
            </div>
        </bx_if:display_insert_club_capacity>

        <!-- insert the club cover_charge-->
        <bx_if:display_club_cover_charge>
            __club_cover_charge_container__
        </bx_if:display_club_cover_charge>
        <bx_if:display_insert_club_cover_charge>
            <div id='ebytes_club_cover_insert_charge_container' class='ebytes_club_cover_insert_information_container ebytes_club_cover_insert_charge_container'>
                <a href='javascript:void(0)'>__insert_club_cover_charge__</a>
            </div>
        </bx_if:display_insert_club_cover_charge>

        <!-- insert the club entry_age-->
        <bx_if:display_club_entry_age>
            __club_entry_age_container__
        </bx_if:display_club_entry_age>
        <bx_if:display_insert_club_entry_age>
            <div id='ebytes_club_cover_insert_entry_age_container' class='ebytes_club_cover_insert_information_container ebytes_club_cover_insert_entry_age_container'>
                <a href='javascript:void(0)'>__insert_club_entry_age__</a>
            </div>
        </bx_if:display_insert_club_entry_age>

        <!-- insert the club hours-->
        <bx_if:display_club_hours>
            __club_hours_container__
        </bx_if:display_club_hours>
        <bx_if:display_insert_club_hours>
            <div id='ebytes_club_cover_insert_club_hours_container' class='ebytes_club_cover_insert_information_container ebytes_club_cover_insert_club_hours_container'>
                <a href='javascript:void(0)'>__insert_club_hours__</a>
            </div>
        </bx_if:display_insert_club_hours>

        <!-- insert the club vip_area-->
        <bx_if:display_club_vip_area>
            __club_vip_area_container__
        </bx_if:display_club_vip_area>
        <bx_if:display_insert_club_vip_area>
            <div id='ebytes_club_cover_insert_club_vip_area_container' class='ebytes_club_cover_insert_information_container ebytes_club_cover_insert_club_vip_area_container'>
                <a href='javascript:void(0)'>__insert_club_vip_area__</a>
            </div>
        </bx_if:display_insert_club_vip_area>

        <!-- insert the club bar_type-->
        <bx_if:display_club_bar_type>
            __club_bar_type_container__
        </bx_if:display_club_bar_type>
        <bx_if:display_insert_club_bar_type>
            <div id='ebytes_club_cover_insert_bar_type_container' class='ebytes_club_cover_insert_information_container ebytes_club_cover_insert_bar_type_container'>
                <a href='javascript:void(0)'>__insert_club_bar_type__</a>
            </div>
        </bx_if:display_insert_club_bar_type>

        <!-- insert the club food_service-->
        <bx_if:display_club_food_service>
            __club_food_service_container__
        </bx_if:display_club_food_service>
        <bx_if:display_insert_club_food_service>
            <div id='ebytes_club_cover_insert_club_food_service_container' class='ebytes_club_cover_insert_information_container ebytes_club_cover_insert_club_food_service_container'>
                <a href='javascript:void(0)'>__insert_club_food_service__</a>
            </div>
        </bx_if:display_insert_club_food_service>
    </div>
</div>
<div class='ebytes_club_cover_info_link_container ebytes_club_cover_bottom_data_link_container'>
    <a href="javascript:void(0)" id='ebytes_club_cover_show_more_informations_button'>
        __show_more_caption__
    </a>
</div>
