<div class="ebytes_club_cover_club_addon_datas_container">
    <bx_if:display_club_fans>
        __club_fans__
    </bx_if:display_club_fans>
    <bx_if:display_club_photo_albums>
        __club_photo_albums__
    </bx_if:display_club_photo_albums>
    <bx_if:display_club_video_albums>
        __club_video_albums__
    </bx_if:display_club_video_albums>
    <bx_if:display_club_sound_albums>
        __club_sound_albums__
    </bx_if:display_club_sound_albums>
    <bx_if:display_club_file_folders>
        __club_file_folders__
    </bx_if:display_club_file_folders>
    <bx_if:display_club_news>
        __club_news__
    </bx_if:display_club_news>
    <bx_if:display_club_website>
        __club_website__
    </bx_if:display_club_website>
    <bx_if:display_club_events>
        __club_events__
    </bx_if:display_club_events>
</div>
