<div class="ebytes_club_cover_stream_form_container">
    <div class="ebytes_club_cover_stream_form_error_container">Error test</div>
    <form action="__form_action__" onsubmit='return submitClubCoverStreamUrl(this)'>
        <label for="stream_url">__stream_label__</label><br/>
        <input onfocus='ebClubCoverSubmitStreamUrlFocus(this)' onblur="ebClubCoverSubmitStreamUrlBlur(this, '__url_input_value__')" name="stream_url" class='ebytes_club_cover_stream_url_text_input' value='__url_input_value__' type="text" />
        <input type="hidden" name='club_id' value='__club_id__' />
        <input type="submit" value='Save' class='ebytes_club_cover_stream_url_submit_button' name='Save' />
    </form>
</div>
