<div class='ebytes_club_cover_popup_input_container'>
    <span class='ebytes_club_cover_popup_caption_container'>__help_caption__ : </span>
    <div class='ebytes_club_cover_popup_input_containers'> 
        <input type='text' onfocus='ebClubCoverPopupInputFocus(this)' onblur="ebClubCoverPopupInputBlur(this, '__club_hours_caption__')" class='ebytes_club_cover_empty_input' name='__input_name__' value='__club_hours_caption__' /> 
        <input type="hidden" value='__club_id__' name='club_id'/>
    </div>
</div>
