<div class="ebytes_profile_cover_bottom_container">
    <div class="ebytes_profile_cover_toggle_activities_container __toggle_container_addon_class__">
        <div class="ebytes_profile_cover_toggle_activities_arrow_container"></div>
    </div>
    <div class="ebytes_profile_cover_activities_container __activities_container_addon_class__">
        __member_activities__
    </div>
    <div class="ebytes_profile_cover_info_container ebytes_profile_cover_bottom_data_container __info_container_addon_class__">
        __member_informations__
    </div>
    <div class="clear_both"></div>
</div>
<div class='ebytes_profile_cover_popup_information'>
    <div class="ebytes_profile_cover_popup_inner_container">
        <div class="ebytes_profile_cover_popup_mid_container"> </div>
    </div>
    <div class="ebytes_profile_cover_popup_arrow_container"></div>
</div>
